@import "../../../styles/variables";

.main {
    &__wrapper {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 10% 25%;
        background-image: url("https://www.vmcdn.ca/f/files/kitchenertoday/images/health-and-fitness/workout.jpeg;w=1200;h=800;mode=crop");
        height: 100vh;
        width: 100%;
    }
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 40px;
    }

    &__title {
        margin: 20px;
        font-size: 40px;
        color: $white;
        @media (max-width: "480px") {
            font-size: 30px;
        }
    }
    &__title-no-auth {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.11);
        padding: 30px;
        width: 500px;
        text-align: center;
    }
}
