$accent: #b53471;
$white: #f1e8e8;
$dark-purple: #310c24;
$black: #1a0612;
$purple: #511734;

$bx-accent: 0px 4px 4px rgba(181, 52, 113, 0.25);
$bx-10: 0px 3px 6px rgba(0, 0, 0, 0.1);
$bx-16: 0px 3px 6px rgba(0, 0, 0, 0.16);
